<%= form_for([:admin,@category]) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this admin_category from being saved:</h2>

      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title,"标题" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :desc,"描述" %><br />
    <%= f.text_field :desc %>
  </div>
  <div class="actions">
    <%= f.submit "提交", :disable_with => "submitting..." %>
  </div>
<% end %>
